.btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #ffffff;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #fffcfc;
}

.btn:hover {
  background: linear-gradient(0deg, #A47CF3, #683FEA);
  box-shadow:
    inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
  transform: translateY(-2px);
}

.btn:hover .text {
  color: white;
}

.btn:hover .sparkle {
  fill: white;
  transform: scale(1.2);
}

/* Banner container glow */
.relative.w-full.overflow-hidden {
  position: relative; 
  overflow: hidden;
}

.relative.w-full.overflow-hidden::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; 
  background: linear-gradient(90deg, #6978daad, #ce92da83, #555ea175, #b3a4ff81);
  background-size: 300%;
  z-index: 50;
  pointer-events: none;
  animation: bannerGlow 6s linear infinite;
  mix-blend-mode: screen; 
}

@keyframes bannerGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 30% 50%;
  }
}

